<p id="notice"><%= notice %></p>

<div class="col-xs-">

  <h1>Listing Verses</h1>
  <ul class="list-group">
  <% @verses.each do |verse| %>
      <li class="list-group-item"><%= recitation(verse) %></li>
  <% end %>
  </ul>
 
</div>